.bg-img{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210403/pngtree-simple-white-flat-vectors-with-diagonal-cuts-decorative-backdrops-for-your-image_597612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}